* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

.row {
    margin: 0% !important;
    padding: 0% !important;
}

.db_supportbg {
    background-image: url(../../img/denisha_img/supprtmosaic.svg) !important;
    background-repeat: no-repeat !important;
    background-color: #653171 !important;
    background-position: center !important;
    background-size: 100%;
    height: 144px !important;

}

.db_supportbg>div>h1 {
    text-transform: capitalize;
    color: white;

}

.db_supportmain {
    font-family: 'Intel Clear', sans-serif;
    background-color: #f3f3f3 !important;
}

.db_supportmain a,
.db_download_center a,
.db_banner_cnt a,
.db_support_tiles a,
.db_product_detail a,
.db_supplier_request .db_btn_dwnld a,
.db_community_card a {
    text-decoration: none !important;
    color: #0068b5 !important;
}

.db_bottomspacer {
    padding-bottom: 70px !important;
}

.db_topspacer {
    padding-top: 70px !important;
}

.db_driver .db_dsaicon {
    height: 80px;
    width: 80px;
    padding: 12px;
    background: url(../../img/denisha_img/db_dsaicon.png);
    background-position: -196px -207px;
    background-size: 330px 330px;
}

.db_download_center .db_auto_update .db_btn_dwnld,
.db_imp_notice .db_btn_dwnld,
.db_driver .db_btn_dwnld,
.db_banner_cnt .db_btn_dwnld,
.db_about_forums .db_btn_dwnld {
    text-align: center;
    background-color: #0068b5;
    padding: 10px 25px;
    display: inline-block;
    font-size: 16px;
    color: white !important;
}

.db_driver .db_btn_dwnld:hover {
    background-color: #d7d7d7;
    color: #003c71 !important;
}

.db_driver .db_intel_dsa h1 {
    font-weight: 600 !important;
    font-size: 28px !important;
    line-height: 1.1 !important;
}

.db_driver .db_hr {
    border-top: 1px solid #d7d7d7;
    margin: 35px 0 60px;
}

.db_multistep-intro svg,
.db_dwnldstep svg,
.db_supportmain .db_learn_more svg {
    font-size: 45px !important;
    color: #555555 !important;
}

.db_supportmain .db_multistep-intro h3,
.db_supportmain .db_dwnldstep h3,
.db_supportmain .db_learn_more h3,
.db_supportmain .db_need_more_support h3,
.db_need_more_help h3 {
    margin: 0 0 10px;
    font-size: 22px !important;
    color: #262626 !important;
}

.db_supportmain .db_dwnldstep .db_bgwhite,
.db_supportmain .db_need_more_support .db_bgwhite,
.db_products_page .db_product_detail .db_bgwhite,
.db_other_support_resources .db_bgwhite,
.db_supplier_login .db_bgwhite {
    background-color: white !important;
}

.db_supportmain .db_btmbdr {
    border-bottom: 2px solid #d7d7d7;

}

.db_dwnldstep .db_btn_dwnld,
.db_need_help_identify .db_btn_dwnld {
    text-align: center;
    border: 1px solid #0068b5;
    padding: 10px 25px;
    display: inline-block;
    font-size: 14px;
    color: #0068b5 !important;
}

.db_dwnldstep .db_btn_dwnld:hover,
.db_supplier_request .db_request_blue,
.db_need_help_identify .db_btn_dwnld:hover {
    background-color: #0068b5 !important;
    color: white !important;
}

.db_supportmain .db_input-bottom-border::placeholder {
    color: black;
    font-size: 18px;
}

.db_supportmain .db_input-bottom-border:focus {
    border-top: 0px !important;
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.db_input-bottom-border {

    font-size: 16px;
    line-height: 1.5;
    border: none;
    color: #bbb;
    background-color: #f3f3f3 !important;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'><path fill='%230068b5' d='M11.44 10.73l4.41 4.42a.5.5 0 1 1-.7.7l-4.42-4.41a6.5 6.5 0 1 1 .7-.7v-.01zM6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11z'></path></svg>");
    background-repeat: no-repeat;
    background-position: 10px 10px;
    background-size: 20px 20px;
    border-top: 1px solid #ced1d4;
    width: 80%;
    padding: .5em 1em .5em 2.5em;
}

.db_need_more_support .db_input-bottom-border {
    width: 95% !important;
}

.db_need_more_help .db_btn_dwnld,
.db_supplier_request .db_btn_dwnld {
    text-transform: capitalize;
    text-align: center;
    background-color: white !important;
    padding: 10px 25px;
    font-size: 16px;
    color: #0068b5 !important;
}

.db_need_more_help .db_btn_dwnld:hover,
.db_supplier_request .db_btn_dwnld:hover {
    background-color: #e9e9e9 !important;
}

.db_need_more_help {
    background-color: #8f5da2 !important;
    color: white !important;
}

.db_need_more_help h3 {
    color: white !important;
}


/* Dropdown Button */
.db_dropdown-button {
    width: 95% !important;
    background-color: #f3f3f3;
    color: #262626 !important;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Dropdown Arrow */
.db_dropdown-button .db_arrow {
    margin-left: 10px;
}

/* Dropdown Content (Hidden by Default) */
.db_dropdown-content {
    width: inherit !important;
    display: none;
    position: absolute;
    background-color: #f3f3f3;
    min-width: 160px;
    max-height: 150px;
    /* Fixed height */
    overflow-y: auto;
    /* Scrollbar when content exceeds height */
    border: 1px solid #ddd;
    z-index: 1;
}

/* Links inside the dropdown */
.db_dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.db_dropdown-content a:hover {
    background-color: rgb(230, 229, 229);
}


/* //download-center  */

.db_download_center .db_pagetitle,
.db_products_page .db_welcome_support {
    background-image: url(../../img/denisha_img/supprtmosaic.svg) !important;
    background-repeat: no-repeat !important;
    background-color: #0068b5 !important;
    background-position: center !important;
    background-size: 100%;
    height: auto !important;
    color: white !important;
}

.db_download_center .db_pagetitle:focus {
    border: 1px solid #262626;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'><path fill='%23262626' d='M11.44 10.73l4.41 4.42a.5.5 0 1 1-.7.7l-4.42-4.41a6.5 6.5 0 1 1 .7-.7v-.01zM6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11z'></path></svg>");

}

.db_download_center .db_pagetitle .db_input-bottom-border,
.db_products_page .db_welcome_support .db_input-bottom-border {
    height: 3.5rem;
    color: #262626 !important;
    background-color: white !important;
    border-top: 0px !important;
}

.db_download_center .db_pagetitle .db_input-bottom-border::placeholder,
.db_products_page .db_welcome_support .db_input-bottom-border::placeholder,
.db_download_center .db_auto_update p {
    color: #262626 !important;
}

.db_download_center .db_auto_update h3,
.db_download_center .db_select_prdct h3 {
    font-size: 36px;
    line-height: 1.25rem;
    color: #262626;
    font-weight: 300 !important;
}

.db_download_center .db_input-bottom-border {
    background-position: 10px 17px !important;
}

.db_download_center .db_auto_update .db_btn_dwnld:hover,
.db_banner_cnt .db_btn_dwnld:hover,
.db_imp_notice .db_btn_dwnld:hover,
.db_about_forums .db_btn_dwnld {
    background-color: #003c71 !important;
    color: white;
}

.db_auto_update .db_driver_img img {
    height: 50px !important;
}

.db_select_prdct .db_griditem,
.db_other_support_resources .db_griditem {
    background-color: #f3f3f3;
    margin: 10px 4px !important;
    font-size: 16px !important;
}

.db_select_prdct .db_griditem img {
    width: 40px !important;
    margin-right: 15px !important;
    height: 40px !important;
}

.db_download_center .db_select_prdct h3 {
    font-size: 28px !important;
}

.db_download_center .db_a_tag {
    font-size: 20px !important;
}

.db_download_center .db_a_tag:hover {
    text-decoration: underline !important;
    text-decoration-thickness: .5px !important;
    color: #004a86 !important;
}

.db_download_center .db_need_more_help,
.db_about_forums .db_btn_dwnld {
    background-color: #0068b5 !important;
}

.db_about_forums .db_btn_dwnld:hover {
    background-color: #004a86 !important;
}

.db_download_center .db_need_more_help a,
.db_product_detail .db_other_intel_brands a,
.db_supplier_request .db_request_blue .db_supplier_contact_a,
.db_navbar_cnt .db_supplier_contact_a,
.db_card_design .db_supplier_contact_a {
    color: white !important;
    text-decoration: underline dashed !important;
    text-underline-offset: .3rem;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: .5px;
}

.db_download_center .db_need_more_help a:hover,
.db_product_detail .db_other_intel_brands a:hover,
.db_supplier_request .db_request_blue .db_supplier_contact_a:hover,
.db_navbar_cnt .db_supplier_contact_a:hover,
.db_card_design .db_supplier_contact_a:hover {
    text-decoration: underline solid !important;
}

/* products  */

.db_products_page .db_welcome_support {
    background-color: #653171 !important;
    color: white !important;
}

.db_products_page .db_welcome_support .db_input-bottom-border {
    width: 65% !important;
}

.db_products_page .db_support_tiles svg,
.db_products_page .db_support_tiles svg {
    font-size: 28.8px !important;
    color: #555555 !important;
}

.db_support_tiles,
.db_product_detail,
.db_other_support_resources {
    background-color: #f7f7f7 !important;
}

.db_products_page .db_support_tiles p,
.db_product_detail .db_other_intel_brands a,
.db_cnt_accordion .db_accordion_item .db_accordion_blue {
    color: #0071c5 !important;
}

.db_products_page .db_support_tiles a:hover svg,
.db_products_page .db_support_tiles a:hover p {
    color: #00aeef !important;
}

.db_product_detail h3 {
    font-size: 22px !important;
    color: #262626 !important;
    text-align: left !important;
    font-weight: 300 !important;
}

.db_product_detail img {
    height: auto;
    width: 28px;
    max-height: none;
}

.db_product_detail span,
.db_support_tiles p {
    color: #0071c5 !important;
}

.db_product_detail .db_hr {
    border-bottom: 1px solid #5555 !important;
}

.db_product_detail .db_other_intel_brands span {
    color: black !important;
}

/* other_support_resources */

.db_other_support_resources h3,
.db_supplier_request .db_request_blue h3 {
    font-size: 30px !important;
}

.db_other_support_resources .db_griditem a {
    color: #0068b5 !important;
    text-transform: capitalize;
    text-decoration: none !important;
    font-weight: 600 !important;

}

.db_other_support_resources .db_bottomspacer {
    padding-bottom: 35px !important;
}


/* support supplier  */


.db_support_supplier .db_support_supplier_img {
    background-image: url(../../img/denisha_img/supplier_img/mainpage_img.avif);
    background-repeat: no-repeat;
    background-color: #0068b5;
    background-position: center;
    background-size: cover;
    color: white;
    padding: 120px;
    position: relative;
}

.db_support_supplier .db_support_supplier_img .db_cnt_lyr {
    position: absolute;
    top: 50%;
    left: 72%;
    transform: translate(-50%, -50%);
    width: 45%;
}

.db_support_supplier .db_support_supplier_img h1 {
    font-weight: lighter !important;
    text-align: left;
    margin: 0;
    padding: 15px;
    padding-bottom: 40px;
    margin-left: 40px;
    background-color: #0068b5;
}

.db_support_supplier .db_support_supplier_img .db_sqr {
    height: 40px !important;
    width: 40px !important;
    background-color: #00a3f6 !important;
}

.db_supplier_login svg {
    font-size: 18px !important;
}

.db_supplier_login .db_griditem {
    padding: 20px 24px;
    margin: 0px 10px;
    background-color: #f3f3f3;
    width: 31%;
}

.db_supplier_login .db_griditem a {
    text-decoration: none !important;
    color: #0068b5 !important
}

.db_supplier_login .db_rounded_icon {
    background-color: white !important;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.db_supplier_login .db_griditem a:hover {
    color: #004a86 !important;
}

.db_supplier_request p {
    margin-bottom: 7px !important;
}

/* supplier navbar   */
.db_supplier_navbar ul {
    list-style: none !important;
}

.db_supplier_navbar ul li a {
    text-decoration: none !important;

}

.db_supplier_navbar ul li {
    padding: 20px;
    text-wrap: nowrap;
}

.db_supplier_navbar ul li:hover {
    background-color: #f3f3f3;
}

.db_supplier_navbar .db_active {
    background-color: #f3f3f3;
    border-bottom: 4px solid #00aeef !important;
}

.db_navbar_cnt .db_supplier_contact_a {
    color: #0068b5 !important;
}

/* nav */
.nav_slider {
    display: block !important;
}

/* other support  */
.db_other_support a {
    font-size: 20px !important;
    color: #0068b5 !important;
    text-decoration: none;

    text-transform: capitalize;
}

.db_other_support a:hover {
    color: #003c71 !important;
    text-decoration: underline solid #003c71;
}

/* card  */
.db_card_design,
.db_check_warranty {
    background-color: #f7f7f7 !important;
}

.db_select_prdct .db_griditem {
    padding: 10px !important;
}

.db_card_design .db_input-bottom-border {
    width: 100%;
    height: 52px;
    padding: 0 40px 0 40px;
    border: 1px solid black;
    background-position: 10px 15px;
    color: #262626;
}

.db_card_design .db_input-bottom-border:focus {
    border: 1px solid black !important;
    outline-offset: -2px;
}

.db_results p {
    font-size: 20px !important;
    padding-top: 15px;
}

.db_card_design .db_select {
    width: 20% !important;
}

.db_card_design .db_form-select:focus {
    border: 2px solid black !important;
    outline: 0;
    box-shadow: none !important;
}

.db_card_design .db_bg_blue {
    background-color: #00aeef;
    padding: 15px 0;
    text-align: center !important;
    color: #262626 !important;
}

.db_card_design .db_bg_blue p {
    margin-bottom: 0px !important;
}

.db_card_design .db_supplier_contact_a {
    color: #262626 !important;
}

.db_card_hight {
    word-wrap: break-word;
    /* Ensure text wraps and doesn't overflow */
    overflow-wrap: break-word;
    /* Additional property to handle text overflow */
}

.db_card_white {
    background-color: white !important;
    /* margin: 10px !important;  */
    /* width: 23% !important; */
}

.db_filter_card .db_card_main_img {
    height: 70px;
    width: 70px;
    margin: 50px 0;
}

.db_filter_card .db_card_icon a img {
    height: 30px !important;
    width: 30px !important;
    object-fit: contain;
    margin: 20px 0px;
}

.db_filter_card a,
.db_check_warranty a {
    text-decoration: none !important;
    color: #0068b5 !important;

}

.db_filter_card .db_card_update_btn {
    width: fit-content !important;
    padding: 5px 10px !important;
    font-size: 14px !important;
    background-color: #f7f7f7 !important;
}

.db_filter_section {
    margin-bottom: 20px;
}

.db_filter_section:last-child {
    margin-bottom: 0;
}

.db_filter_toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 5px 0;
}

.db_filter_toggle i {
    font-size: 12px;
}

.db_filter_toggle.active i {
    /* Style for up chevron */
    transform: rotate(180deg);
}

.db_filter_content {
    display: none;
    /* Hidden by default */
    padding-left: 10px;
}

.db_filter_content.active {
    display: block;
    /* Show when active */
}

.db_filter_checkbox {
    margin: 5px 0;
}

/* Optional: Add styling for the active state of the toggle if needed */
.db_filter_toggle.active i {
    transform: rotate(180deg) !important;
    /* Rotate 180 degrees */
}

.db_filter_select {
    background: none;
    border: 0;
    color: #0071c5;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 25px;
    padding: 3px !important;
    font-weight: bold;
}

.db_filter_select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.db_clear {
    color: #0071c5;
    font-size: 12px !important;
    text-transform: uppercase !important;
}

.db_clear .db_slash {
    color: #d7d7d7;
    font-size: 16px;
    margin: 0 10px 0 10px;
}

.db_cursor_pointer {
    cursor: pointer !important;
}

/* card  */
.db_card_hight {
    height: 215px;
}


/* support community  */
.db_intel_com_bg {
    background: #005b85 url(../../img/denisha_img/support_comunity/1.jpeg);
    color: white !important;
    background-size: cover;
    background-position: center;
    padding: 40px 16px;
    border-top: 1px solid #6CA0C6;
}

.db_intel_com_bg .db_form-select {
    text-transform: capitalize;
    width: max-content !important;
    border: none !important;
    padding: 2px 5px;
    background-color: #f3f3f3 !important;
}

.db_intel_com_bg .db_input-bottom-border {
    width: 30vw !important;
    background-color: white !important;
    /* padding: 8px 54px     !important;  */
}

.db_community_card,
.db_intel_accordion {
    background-color: #f7f7f7 !important;
}

.db_intel_accordion ul {
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    list-style: none;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.db_intel_accordion li {
    cursor: pointer;
}

.db_intel_accordion h2 {
    font-size: var(--header3);
    font-family: var(--primary-font);
    color: var(--main-color);
    padding-bottom: 2rem;
}

.db_intel_accordion .container {
    max-width: 1140px;
    padding: 2rem;
    margin: 0 auto;
}

.db_intel_accordion .db_accordion_title {
    padding: 2rem 0px;
    position: relative;

    padding: 16px 32px;
    margin-top: 12px;
}

.db_intel_accordion .db_accordion_title::after {
    content: "\276F";
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0.5rem;
    font-size: 1rem;
    transform-origin: center;
    transform: rotateZ(90deg);
    top: 30%;
    color: #00a3f6;
}

.db_intel_accordion .rotate .db_accordion_title::after {
    transform: rotateZ(-90deg);
}

.db_intel_accordion .db_accordion_content {
    height: 0px;
    opacity: 0;
    display: flex;
    align-items: center;
    gap: 2rem;

    overflow: hidden;
    background-color: white !important;
    flex-flow: wrap;
}

.db_intel_accordion .db_accordion_content .row {
    padding: 0px 10px;
}

.db_intel_accordion .db_accordion_content a {
    text-decoration: none !important;
    color: #0068b5 !important;
    font-size: 16px !important;
}

.db_intel_accordion .open .db_accordion_content {
    height: auto;
    opacity: 1;
    padding: 1rem 0;
}

.db_intel_accordion .db_accordion_title,
.db_softwarebg2 {
    background-color: white;
}

.db_about_forums .db_aboutmain_a {
    min-height: 150px !important;
    width: calc(33.33% - 18px) !important;
    display: inline-block;
    margin: 3px;
    background: black no-repeat center center;
    background-size: cover;
    color: #fff;
    padding: 18px 22px;
    position: relative;
    overflow: hidden;
    /* Ensure the pseudo-element doesn't overflow */
}

.db_about_forums .db_about_black {
    background-image: url("../../img/denisha_img/support_comunity/2.jpeg");
}

/* Add overlay on hover */
.db_about_forums .db_aboutmain_a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    /* Initial state with no background color */
    transition: background-color 0.3s ease;
    /* Smooth transition */
    z-index: 1;
    /* Ensure the overlay is above the background image but below the text */
}

/* Overlay color on hover */
.db_about_forums .db_about_black:hover::before,
.db_about_forums .db_about_blue:hover::before {
    background-color: rgba(0, 0, 0, 0.5);
    color: white !important;
}

/* Overlay color on hover for blue */

/* Ensure text content is above the overlay */
.db_about_forums .db_aboutmain_a a {
    position: relative;
    z-index: 2;
}

.db_aboutmain_a:focus,
.db_aboutmain_a:active {
    box-shadow: 0 0 4px black;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.db_about_forums .db_about_blue {
    background-image: url("../../img/denisha_img/support_comunity/3.jpeg");
}

.db_about_a .db_about_category {
    font-size: 14px !important;
}

.db_about_a .db_forum_content {
    font-size: 22px !important;
    line-height: 26px;
    margin-top: 5px;
}

.db_abt_dark {
    color: #003c71;
    font-weight: 600 !important;
    font-size: 16px !important;
}

.db_abt_user {
    height: 40px !important;
    width: 40px !important;
}

.db_abt_cardimg {
    height: 100% !important;
    width: 100% !important;
    object-fit: contain !important;
}

.db_abt_cardimg1 {
    height: 230px !important;
}

.db_community_need {
    background-color: #183544 !important;
}



/* Warranty Information  */
.db_warranty_banner {
    background-color: #653171 !important;
    color: white !important;
}

.db_need_help_identify {
    background-color: white !important;
    font-size: 14px !important;
}

.db_need_help_identify .db_indentify_cnt {
    font-size: 14px !important;
}


.db_need_help_identify .db_dropdown,
.db_need_help_identify .db_input {
    position: relative;
    width: 95% !important;
    /* max-width: 400px; */
    /* margin: 0 auto; */
    margin-left: -10px !important;
}

.db_need_help_identify .db_dropdown select {
    display: none;
}

.db_need_help_identify .db_need_last_sec {
    margin-left: -10px !important;
}

.db_need_help_identify .db_dropdown .db_select,
.db_need_help_identify .db_input {
    width: 100%;
    padding: 8px;
    border: 1px solid black;
    /* border-radius: 5px; */
    color: #696969;
    background: #fff;
    cursor: pointer;
    position: relative;
}

.db_need_help_identify .db_dropdown .db_select:focus,
.db_need_help_identify .db_input:focus {
    border: 2px solid #0054ae !important;
}

.db_need_help_identify .db_options div:hover {
    box-shadow: 0 0 3px #0176d3;
    background-color: rgba(1, 118, 211, 0.03)
}


.db_need_help_identify .db_dropdown .db_select::after {
    content: '\25BC';
    position: absolute;
    right: 10px;
    color: black !important;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.db_need_help_identify .db_dropdown .db_options {
    display: none;
    position: absolute;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #fff;
    z-index: 10;
    max-height: 200px;
    overflow-y: auto;
}

.db_need_help_identify .db_dropdown .db_options div {
    padding: 10px;
    cursor: pointer;
}

.db_need_help_identify .db_dropdown .db_options div:hover {
    background-color: rgb(21 137 238, 0.l);
}

.db_imp_notice .db_notice_cnt {
    font-size: 14px !important;
}


/* contact intel  */

.db_contact_banner {
    background-image: url(../../img/denisha_img/contact/contact_banner.svg);
    background-color: #653171;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff !important;
    width: 100% !important;
}


.db_contact_banner ul {
    list-style: none !important;
}

.db_contact_banner ul a {
    text-decoration: none !important;
    color: white !important;
    font-size: 14px !important;
}

.db_contact_banner ul li {
    padding: 15px;
    text-wrap: nowrap;
}

.db_contact_banner ul li:hover {
    background-color: #f3f3f3;
    color: black !important;
}

.db_contact_banner .db_active,
.db_softwarebg1,
.db_notebg,
.db_need_more_help_bg_gray,
.db_cmnt_bg {
    background-color: #f3f3f3 !important;
}

.db_contact_banner a .db_active {
    color: black !important;
}

.db_contact_us_sec-1 i {
    color: #0071c5 !important;
}

.db_contact_us_sec-1 a:hover i {
    color: #004a86 !important;
}

.db_contact_us_sec-1 .db_icon_cnt a {
    margin: 0px 30px !important;
}

/* learn_more_about__inteldsa  */
.db_softwarebg1 .db_left_border {
    border-left: 1px solid #d7d7d7;
    padding-left: 30px;
    height: auto !important;
}

.db_notebg {
    margin: 5px !important;
}

.db_softwarebg2 a {
    color: #0068b5 !important;
    text-decoration: none !important;
}

.db_softwarebg2 a:hover {
    color: #00aeef !important;
}

.db_softwarebg1,
.db_contact_banner {
    cursor: pointer !important;
}

.db_softwarebg2 .db_grayspan {
    color: #97939b;
    cursor: default !important;
    font-weight: 700 !important;
}


.db_initial_items.show {
    display: block;
}

/* idsa-faq.html  */
.db_faq_icon_section {
    background-color: #f3f3f3 !important;
}

.db_general_details a {

    color: #0068b5 !important;
    text-decoration: underline dashed;
    text-underline-offset: .3rem;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: .5px;
}

.db_general_details a:hover {
    color: #003c71 !important;
    text-decoration: underline solid;
}

.db_faq_icon_section img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 15px solid white;
}

.db_warranty_a {
    text-decoration: none !important;
}



/* graphics  */
.db_graphics_main .db_supplier_navbar .db_active,
.db_graphics_main .db_supplier_navbar .one:focus {
    background-color: white;
    border-bottom: 4px solid #00aeef !important;
}

.db_graphics_main .db_supplier_navbar ul li:hover {
    background-color: white;
}

.db_graphics_main .db_graphics_cnt_bg {
    background-color: #f3f3f3;
}

.db_graphics_main .db_banner_cnt,
.db_graphics_main .db_grp_filter,
.db_graphics_cnt_bg .db_recommened_bg,
.db_cmnt_bg .db_cmnt_white {
    background-color: white;

}

.db_graphics_main .db_input-wrapper {
    position: relative;
    display: inline-block;
    width: 100% !important;

}

.db_graphics_main .db_input-wrapper .db_input-bottom-border {
    background-image: none !important;
    padding: 10px 20px;
    border-top: none;
    border-radius: 4px;
}

.db_graphics_main .db_input-wrapper .db_fa-filter {
    position: absolute;
    right: 10px;
    /* Adjust as needed */
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    /* Ensure the icon doesn't block input field clicks */
    color: #0171c5;
    /* Icon color */
}

.db_graphics_cnt_bg .db_a_btm {

    border-bottom: 1px solid #f2f2f2;
    padding: 12px 24px 12px 0;
}

.db_graphics_cnt_bg .db_a_btm1 {
    padding: 12px 24px 12px 0;
}

.db_graphics_cnt_bg .db_a_btm,
#db_choose_ur_product .db_a,
.db_graphics_cnt_bg .db_a_btm1,
.db_grp_griditem a,
.db_cmnt_bg .db_abt_a {
    color: #0571c4;
}

.db_graphics_cnt_bg .db_a_btm :hover,
#db_choose_ur_product .db_a:hover,
.db_graphics_cnt_bg .db_a_btm1:hover,
.db_cmnt_bg .db_abt_a:hover {
    color: #004a86;
    text-decoration: underline !important;
}

.db_recommened_bg .db_grp_griditem {
    background-color: #f7f7f7;
    width: 31.333333%;
    margin-right: 2%;
}

.db_grp_filter .db_back_btn {
    border: 1px solid #0068b5;
    color: #0068b5;
    width: max-content;
    padding: 4px 10px;
    border-radius: 4px;
}

.db_grp_filter .db_back_btn:focus,
.db_grp_filter .db_back_btn:hover {
    background-color: #0068b5;
    color: white;
}

/* support-about  */
.db_cmnt_bg .db_cmnt_white b,
.db_cmnt_bg .db_cmnt_white span {
    margin-bottom: 5px;
}

.db_intel_cmnt_join {
    background-color: #183544 !important;
    color: white;
}

.db_cmnt_bg .db_cnt_small {
    font-size: 15px;
}

.db_custom_accordion {
    border-bottom: 1px solid #ccc;
    margin: 10px 0;
}

.db_custom_accordion1 {
    border-bottom: 0px;
    margin: 4px 0px;
}

.db_custom_accordion_header {
    cursor: pointer;
    padding: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.db_custom_accordion_header1 {
    justify-content: flex-start;

}

.db_custom_accordion_body {
    display: none;
    padding: 10px;
}

.db_custom_accordion_body_inner table td,
.db_custom_accordion_body_inner table th {
    padding: 16px;
}

.db_custom_accordion_body ul li {
    line-height: 2;
}

.db_custom_arrow {
    color: #0068b5;
    transition: transform 0.2s;
}

.db_custom_arrow_inner {
    font-size: 12px;
}

.db_custom_accordion_header1 {
    color: #0068b5 !important;
}

.db_custom_arrow.open {
    transform: rotate(180deg);
}

.db_part_width {
    width: 65%;
}

.db_part_width2 {
    width: 35%;
}

.db_part_width2 .db_brdr_btm_gray {
    border-bottom: 30px solid #f3f3f3;
}

.db_part_width2 li a {
    color: #0068b5;

}

.db_part_width2 li a:hover {
    color: #004a86;
}

.db_part_width2 li {
    margin-bottom: 7px;
}


/* term of use  */
.db_intel_term_banner .db_term_bg{
    background-color: #0068b5 !important;
    padding: 50px;
}

@media (min-width:1024px) {
    .db_card_white {
        flex: 0 0 auto;
        width: 24% !important;
        margin-left: 1%;
    }

    .db_card_hight {
        height: 263px !important;
    }

    .db_need_more_support .db_dropdown-content {
        width: 25% !important;
    }

    .db_products_page .db_welcome_support .db_input-bottom-border {
        width: 80% !important;
        height: 2.5rem;
        background-position: 10px 13px !important;
    }

}

@media (max-width:1024px) {
    .db_supplier_login .db_griditem {
        width: 46% !important;
        /* margin:5px !important; */
        margin-bottom: 20px !important;
    }

    .db_cnt_accordion .container {
        width: 0px !important;
    }

    .db_supplier_navbar ul li {
        padding: 16px !important;
        text-wrap: nowrap;
    }

    .db_card_white {
        flex: 0 0 auto;
        width: 32% !important;
        margin-left: 1.3%;
    }

    .db_need_more_support .db_dropdown-content {
        width: 33% !important;
    }

    .db_abt_cardimg1 {
        height: 165px !important;
    }

    /* graphics  */

    .db_recommened_bg .db_grp_griditem {
        background-color: #f7f7f7;
        width: 48% !important;
        margin-right: 2%;
    }
}

@media (max-width: 992px) {
    .db_left_border {
        border: 0px !important;
        padding-left: 0px !important;
    }

    .db_part_width,
    .db_part_width2 {
        width: 100% !important;
    }
}

@media (max-width: 768px) {
    .db_support_supplier .db_support_supplier_img .db_cnt_lyr {
        position: absolute;
        bottom: 0%;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        padding-bottom: 100px !important;
    }

    .db_card_design .db_select {
        width: 40% !important;
    }

    .db_support_supplier .db_support_supplier_img h1 {
        padding: 20px 5px !important;
        padding-bottom: 0;
        margin-left: 0;
    }

    .db_supplier_login .db_griditem {
        width: 100% !important;
        margin: 5px 0px !important;
    }

    .db_card_white {
        flex: 0 0 auto;
        width: 48% !important;
        margin-left: 2%;
    }

    /* community  */
    .db_intel_com_bg .db_input-bottom-border {
        width: 70vw !important;
    }

    .db_intel_accordion .db_accordion_content {
        flex-direction: column;
    }

    .db_intel_accordion .db_accordion_item div span {
        display: block;
        width: 90%;
    }

    .db_about_forums .db_aboutmain_a {
        width: 100% !important;
    }

    .db_about_forums .db_aboutmain_a {
        min-height: 120px !important;
    }

    .db_abt_cardimg1 {
        height: 160px !important;
        object-fit: cover !important;
        width: 100% !important;
    }

    .db_about_forums .db_btn_dwnld {
        width: 100% !important;
    }

    .db_left_border .db_anchor_i {
        font-size: 20px !important;
    }


}

/* media query  */
@media screen and (max-width:992px) {
    .db_other_support_resources .db_griditem {
        margin: 0px 0px !important;
    }
}

@media (max-width:490px) {
    .db_navx {
        overflow-x: scroll;
    }
}

@media screen and (max-width:425px) {
    .db_bottomspacer {
        padding-bottom: 40px !important;
    }

    .db_topspacer {
        padding-top: 40px !important;
    }

    .db_select_prdct .db_griditem {
        padding: 16px !important;
    }

    .db_need_more_support .db_input-bottom-border,
    .db_need_more_support .db_dropdown-button {
        width: 100% !important;
    }

    .db_need_more_support .db_dropdown-content {
        width: 85% !important;
    }

    /* products  */
    .db_products_page .db_welcome_support .db_input-bottom-border {
        width: 80% !important;
        height: 2.5rem;
        background-position: 10px 10px;
    }

    .db_product_detail span,
    .db_support_tiles p {
        color: #0071c5 !important;
        font-size: 17.6px !important;
    }

    /* supplier  */
    .db_supplier_request .db_request_blue h3 {
        text-wrap: nowrap !important;
        font-size: 22px !important;
    }

    .db_card_white {
        flex: 0 0 auto;
        width: 99% !important;
        /* margin-left: 2%; */
    }

    .db_card_hight {
        height: 170px;
    }

    /* community  */
    .db_intel_com_bg {
        padding: 40px 16px !important;
    }

    .db_intel_com_bg .db_input-bottom-border {
        width: 86vw !important;
    }

    .db_accordion_title h5 {
        font-size: 16px !important;
    }

    /* graphics  */
    .db_recommened_bg .db_grp_griditem {
        width: 98% !important;
    }

    .db_recommened_bg .db_grp_griditem a {
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        /* Ensure it respects the container width */
    }
}

@media screen and (max-width:320px) {

    /* products  */
    .db_products_page .db_welcome_support .db_input-bottom-border {

        width: 95% !important;
    }

    .db_card_hight {
        height: 190px;
    }
}

.db_a.db_custom-tooltip {
    position: relative;
    text-decoration: none;
    color: blue;
}


@media print {
    .db_softwarebg1 .db_need_more_help_bg_gray {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
        margin-left: 1cm;
    }

    .db_softwarebg1 .db_need_more_help h3 {
        text-align: center;
        width: 100%;
        margin-bottom: 10px;
    }

    .db_softwarebg1 .db_btn_dwnld {
        margin-left: 0 !important;
        display: flex;
        align-items: start !important;
    }
}

/* view list page  */

@media (max-width: 768px) {
    .db_initial_items {
        display: none;
    }

    /* idsa-faq.html  */
    .db_faq_icon_section .db_2nd_p {
        margin-left: -65px !important;
        margin-top: 24px !important;

    }

    .db_h3_intel {
        padding-top: 15px;
    }


    .db_img_icon {
        align-self: self-start !important;
    }

    .db_faq_icon_section img {
        height: 60px !important;
        width: 60px !important;
        border-radius: 50%;
        border: 7px solid white !important;
    }
}

@media (min-width: 769px) {
    .db_initial_items {
        display: block;
    }

}

.db_cnt_accordion ul {
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    list-style: none;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.db_cnt_accordion li {
    cursor: pointer;
}

.db_cnt_accordion h2 {

    padding-bottom: 2rem;
}

.db_cnt_accordion .container {
    max-width: 1140px;
    padding: 2rem;
    margin: 0 auto;
}

.db_cnt_accordion .db_accordion_title,
.db_cnt_accordion .db_accordion_cnt_title {
    padding: 2rem 0px;

    position: relative;

    padding: 16px 32px;
    margin-top: 2px;
}

.db_cnt_accordion .db_accordion_title::after,
.db_cnt_accordion .db_accordion_cnt_title::after {
    content: "\276F";
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0.5rem;
    font-size: 1rem;
    transform-origin: center;
    transform: rotateZ(90deg);
    color: #0071c5;
    top: 32%;
    bottom: 50%;
    transition-duration: 0.2s;
}

.db_cnt_accordion .rotate .db_accordion_title::after {
    transform: rotateZ(-90deg);

}

.db_cnt_accordion .db_accordion_content {
    height: 0px;
    opacity: 0;
    display: flex;
    align-items: center;
    gap: 2rem;

    overflow: hidden;

    background-color: #f7f7f7 !important;
    border-top: 4px solid #00aeef;
    flex-flow: wrap;
}



.db_cnt_accordion .db_accordion_content .row {
    padding: 0px 10px;
}

/* .db_cnt_accordion .accordion-content .row:first-child{
    font-weight: 700;
  } */
.db_cnt_accordion .db_accordion_content a {
    text-decoration: none !important;
    color: #0068b5 !important;
    font-size: 16px !important;
}

.db_cnt_accordion .open .db_accordion_content {

    height: 100% !important;
    opacity: 1;
    padding: 1rem 0;

}

.db_cnt_accordion .db_accordion_title,
.db_cnt_accordion .db_accordion_cnt_title {
    background-color: #f7f7f7;
}

@media screen and (max-width: 768px) {
    .db_cnt_accordion .db_accordion_content {
        flex-direction: column;
    }

    .db_cnt_accordion .db_accordion_item div span {
        display: block;
        width: 90%;
    }
}

.db_cnt_accordion .row {
    padding: 0% !important;
}

.db_cnt_accordion .db_borderr {
    border-left: 15px solid white !important;
}

.db_cnt_accordion .db_accordion_cnt_title::after {
    transform: rotateX(0deg) !important;
}


.db_cnt_accordion .db_accordion_cnt_title {
    margin-top: 0px !important;
    border-bottom: 2px solid white !important;
}

.db_cnt_accordion .row {
    --bs-gutter-x: 0rem !important;
}

.db_cnt_accordion .db_active_mega_accordion {
    font-weight: 700 !important;
}

.db_cnt_accordion .db_active_mega_accordion::after,
.db_cnt_accordion .db_active_mega_accordion1::after {
    display: none !important;
}

.db_active_mega_accordion1 {
    background-color: #e9e9e9 !important;
    font-weight: 700 !important;
}

.db_cnt_accordion .db_previous_mega_accordion::after {
    left: 2% !important;
    transform: rotateY(180deg) !important;
    font-weight: 500 !important;
}